<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>weather</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500&family=Quicksand:wght@500&display=swap" rel="stylesheet">

</head>
<style>
  body {
  height: 100vh;
  background-image: linear-gradient(to right top, #000, #333333);
}

.gradient-pattern {
  animation: gradient 3s ease infinite;
  background-image: linear-gradient(135deg, #000, #333333);
  background-size: 400% 400%;
  height: 100%;
  width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}

</style>
<body style="background-color: #110; font-family: 'Quicksand', sans-serif;"; >
  <nav class="row" style="background: #3b3939; color: white;">
    <div style="text-align: center; margin-bottom: 0px;"><h1 class="col-md-3 text-center">Weather Detector</h1></div>
  </nav>
  <div style="text-align: center;box-sizing: border-box; border-radius: 10px; color: white; height: 75%; width: 100%;" class="row gradient-pattern">
    <form action="" method="post" class="col-md-6 col-md-offset-3">
      {% csrf_token %}
      <div class="input-group" style="border: 1px solid skyblue; margin-top: 50px;">
        <input type="text" class="form-control" name="city" placeholder="{{city}}" style="font-family: 'Martian Mono', monospace;">
        <div class="input-group-btn">
          <button class="btn btn-primary" type="submit">
            <i class="glyphicon glyphicon-search "></i>
          </button>
        </div>
        <form>
  </div>
  <div class="row">
    
    <div class="col-md-6 col-md-offset-3" style="margin-top: 20px;">
      <h1 style="font-weight: bold; color: rgb(0, 255, 0);">{{city}}</h1>
      <h3>{{data.country_code}}</h1>
        <h5>{{data.coordinate}}</h5>
        <h5>{{data.temp}}</h5>
        <h5>{{data.pressure}}</h5>
        <h5>{{data.humidity}}</h5>
    </div>
  </div>
</body>

</html>